<div class="container" fxLayout="column">
    <div class="content__row">
        <h1 class="mat-display-2 page__header">I want to convert</h1>
    </div>
    <div>

        <app-converter-form
            [existingOperation]="existingOperation$ | async"
            [rates]="currencyRates$ | async"
            (submitEvent)="onSubmit($event)"
            (toFieldChange)="updateExchangeHistory($event)"></app-converter-form>
    </div>
    <hr class="section__delimiter" />

    <app-exchange-history
        *ngIf="toCurrency"
        [currency]="toCurrency"></app-exchange-history>
</div>
