@import 'layout-bp';

@include layout-bp(md) {
  .col__date {
    width: 240px;
  }

  .col__event {
    width: 475px;
  }
}

.col__actions {
  padding-left: 10px;
}

.mat-column-Actions {
  &:last-of-type {
    padding-right: 0;
  }

  .mat-button {
    padding: 0;

    &:last-of-type {
      padding-right: 0;

      mat-icon {
        font-size: 18px;
      }
    }
  }

  mat-icon {
    font-size: 16px;
    line-height: 22px;
  }
}

.mat-column-Actions .mat-button:first-child {
  margin-right: 41px;
}

@include layout-bp(sm) {
  .mat-column-Actions .mat-button {
    min-width: 32px;

    &:first-child {
      margin-right: 16px;
    }
  }
}

@include layout-bp(xs) {
  .mat-column-Actions .mat-button {
    min-width: 32px;

    &:first-child {
      margin-right: 16px;
    }
  }
}

th.mat-header-cell:first-of-type {
  padding-left: 20px;
}

.mat-header-row {
  height: 50px;
}

.mat-row {
  height: 42px;
}

.conversion_history_table {
  width: 100%;
}

.conversion_history_table__placeholder {
  overflow: auto;
  max-height: 440px;
  flex: 1;
}

.operation__actions {
  button { display: none}

  &:hover {
    button {
      display: inline-block;
    }
  }
}
