<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between start" fxLayoutGap="20px">

    <div class="exchange_history_table__placeholder mat-elevation-z3">

        <table mat-table [dataSource]="rates" class="exchange_history_table">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Date</th>
                <td mat-cell *matCellDef="let row"> {{row.timestamp | date : 'd/m/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> Exchange Rate</th>
                <td mat-cell *matCellDef="let row"> {{row.rate | number:'1.6-6'}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="ratesColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: ratesColumns;"></tr>
        </table>
    </div>

    <div class="exchange_history_table__placeholder mat-elevation-z3">
        <table mat-table [dataSource]="statistics" class="mat-elevation-z3 exchange_history_table">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> Statistics </th>
                <td mat-cell *matCellDef="let row"> {{row.label}} </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row"> {{row.rate | number:'1.6-6'}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="statisticsColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: statisticsColumns;"></tr>
        </table>
    </div>
</div>
