@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: $pq-body-color;
  color: $pq-default-text-color;
}

.page__header {
  font-weight: 700;
  font-size: 45px;
  margin-top: 45px;
  margin-bottom: 32px;
  letter-spacing: 0.03em;
}

.pq-button__icon {
  padding: 0 !important;
  min-width: 36px !important;
  height: 36px;
}


.text--center {
  text-align: center;
}

.section__delimiter {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom:  1px solid #eee
}

.mat-header-row .mat-header-cell {
  color: $pq-table-header-text-color;
  font-size: 16px;
  font-weight: normal;
}
